@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #363636;
}
body{
    background-color: #FFEAF7;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 98.9vw;
    height: 100vh;
    color: #555555;
}
.top{
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    height: 70px;
    align-items: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.222);
}
.div-nav{
    margin: 0px 30px;
}
.menu ul{
    display: flex;
    gap: 20px;
}
.menu ul li{
    padding: 7px 10px;
}
.menu ul li:hover{
    transform: scale(1.1);
}
.menu ul li:last-child{
    background-color: #415fe3;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.33);
}
.menu ul li:last-child:hover{
    background-color: #f6529c;
}
.menu ul li:last-child a{
    color: white;
}
.principal-content{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.about-us{
    margin: auto;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content-index{
    margin: auto;
}
.about-us *{
    margin-bottom: 1em;
}
.h1-index{
    font-size: 2.3em;
    font-weight: bolder;
    color: black;
}
.h2-index{
    font-size: 1.5em;
}
.btn{
    padding: 10px 7px;
    background-color: #415fe3;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.33);
}
.btn:hover{
    background-color: #0a2fd0;
}
.btn-index{
    margin-top: auto;
}
.icecream-picture{
    text-align: right;
    margin-top: 10px;    
}
.icecream-picture img{
    width: 1000px;
}
.animate-templates{
    margin-top: 10em;
    display: flex;
    justify-content: space-around;
}
.template{
    position: relative;
    height: 600px;
    width: 400px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.277);
}
.img-template{
    width: 400px;
    height: 600px;
}
.text-template{
    position: absolute;
    top:3%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
    width: 398px;
    text-align: center;
    background-color: #36363614;
    color: white;
    font-size: 1.1em;
    font-weight: 600;
}

footer{
    margin-top: 3em;
    text-align: center;
    font-size: 14px;
}
/*Cadastro*/
.registration-title{
    text-align: center;
}
form{
    width: fit-content;
    background-color: white;
    margin: auto;
    padding: 20px 30px;
    margin-top: 4em;
    border-radius: 20px;
}
form fieldset{
    display: flex;
    flex-direction: column;
    padding: 10px;
    row-gap: 5px;
    margin-bottom: 10px;
}
legend{
    font-weight: bolder;
}
.input-decoration{
    padding: 3px 0px 3px 5px;
    border: 1px solid black;
    border-radius: 14px;
}
.btn-place{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.btn-place *{
    border: none;
    cursor: pointer;
}
.btn-clean{
    background-color: rgb(247, 108, 108);
}
.btn-clean:hover{
    background-color:rgb(242, 41, 41) ;
}

/*Login*/
.login{
    width: 400px;
    height: auto;
    background-color: white;
    margin: 4em auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    row-gap: 5px;
}
.title-login{
    margin: 10px auto 80px auto;
}
.input-user, .input-password{
    width: 100%;
    padding: 5px 0px 5px 30px;
    outline: none;
}
.login div{
    position: relative;
}
.fa-user, .fa-lock{
    position: absolute;
    top: 20%;
    left: 2%;
    color: #f6529c;
}
.anchors-login{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.anchors-login a:hover{
    scale: 1.1;
}
.btn-login{
    margin-top: 20px;
    border: none;
    cursor: pointer;
}
/*About*/
.about{
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
}
.title-about{
    color: black;
}
.p-about{
    font-size: 1.2em;
    font-weight: 600;
    text-indent: 20px;
    margin: 20px 0px;
}
table{
    border-collapse: collapse;
    margin: auto;
}
table td{
    text-align: center;
}
table *{
    border: 1px solid black;
    padding: 10px;
}
.quiosque{
    width: 770px;
    border-radius: 20px;
}
/*Sucessfull Page*/
.registration-box{
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1000px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    font-size: 1.5em;
    text-align: center;
}
.fa-circle-check{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    color: green;
    font-size: 10em;
}
/*Icecream Build*/
#visit{
    margin: 2em 0px;
    text-align: center;
}
.content-icecream-build{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    margin: 10em auto;
}
.icecream-select{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.img-ajust-size{
    width: 400px;
    margin: -1px;
}
.img-ajust-size:nth-child(1){
    border-radius: 20px 20px 0px 0px;
}
.img-ajust-size:nth-child(3){
    border-radius: 0px 0px 20px 20px;
}
.div-menu{
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    width: fit-content;
}

.ask{
    font-weight: bold;
}
.price{
    display: flex;
    gap: 2em;
}
.layout-flavor{
    display: flex;
    gap: 4.7em;
}
.btn-icrecream-build{
    margin-top: 4em;
    display: flex;
    justify-content: space-around;
}
button{
    border: none;
    cursor: pointer;
}
.second-choice{
    opacity: 0;
}
#total{
    text-align: center;
    margin-top: 2em;
}
.input-delivery{
    display: flex;
    gap: 2.5em;
}

